@page "/sdachakvartir"

<PageTitle>топ квартиры</PageTitle>


<h1>Сдача квартир</h1>

<h2>Самые лучшие предложены вам:</h2>

<h3></h3>
<img src=https://50.img.avito.st/image/1/1.jPVKhLa5IBx8LeIZXq7WzWElIhr0JaIUPCAiHvgxJB4.4caQQyAYu2cLaWuy_kycZoRv2HDc0guL5SCJNgTxpaE />

    <h4>
    1-к. квартира, 28 м², 5/5 эт.
    30 000 ₽ в месяц    Залог 15 000 ₽ · Комиссия 30% · ЖКУ 1 ₽ + счетчик
    Аренда от месяца! Сдам стильную, полностью оборудованную новой современной мебелью и бытовой техникой солнечную квартиру. В квартире сделан качественный, дизайнерский ремонт. Квартира расположена в центральной части Астрахани с развитой инфраструктурой. По близости расположены Торговые Центры, Кафе, Учебные заведения, Ж/Д вокзал. В квартире есть все необходимое для проживания. Этот вариант отлично подойдет как для семейной пары, так и для студентов, предпочитающих жить и учиться в комфортной, уютной обстановке.

    </h4>
<h3>2-к. квартира, 82 м², 3/6 эт. 40.000р в месяц</h3>

<img src=https://60.img.avito.st/image/1/1.uylgqba5F8BWANXFGqfeZkgIFcbeCJXIFg0VwtIcE8I.tTgNsZCpP2Yz6XRycuDan3_vCoK2aDPT9fMH4sxTRh4 />
<h4>
    О квартире
    Количество комнат: 2
    Общая площадь: 82 м²
    Площадь кухни: 20 м²
    Жилая площадь: 50 м²
    Этаж: 3 из 6
    Балкон или лоджия: лоджия
    Тип комнат: изолированные
</h4>

<h3>
    1-к. квартира, 45 м², 1/9 эт. 25 000 ₽
    в месяц
</h3>
<img src=https://60.img.avito.st/image/1/1.FNUEVra5uDwy_3o5ID4Zunv0ujq69zo0cvK6PrbjvD4.t6Y2cVEGmO7j57K4cfZPvFvklUGELbzMk9fjnPxiHK0/>
<h4>
    О квартире
    Количество комнат: 1
    Общая площадь: 45 м²
    Площадь кухни: 9 м²
    Этаж: 1 из 9
    Балкон или лоджия: лоджия
</h4>
@code { 

}
