@page "/LearnBlazor/blindProd"
<PageTitle>Самые топ новости</PageTitle>

<h1>Новости</h1>
<h1>
    Сколько стоит самый дешевый картофель в Астрахани 
    
</h1>

<img src=https://kaspyinfo.ru/media_new/5/9/2/7/4/material_101850/original_photo-thumb_1920.jpg />

<h3>
    Буквально неделю назад на оптовых рынках картошка была по 35 руб./кг, на мини-рынках - по 45, и вот во второй декаде ноября резкий скачок. Оптовая цена - 48 руб./кг. В розницу цены от 50 до 65 руб./кг. В супермаркетах города продают картофель по 50-60 руб./кг. Но внешний вид, честно скажу, так себе.

    Ну как  без позитивной новости. Я нашел дешевый картофель! Мелкий, но ровненький. Не замерзший и не гнилой. Продают сетками от 10 кг. Цена всего 30 рублей. Радует? И у меня тоже улыбка проступила. Такая улыбка, сквозь слезинку.

    Всем хороших и добрых новостей! Ну а мы продолжаем внимательно следить за ценами.
</h3>

<h1>Туристический налог введут в Астрахани с 1 января 2025 года</h1>

<img src=https://avatars.dzeninfra.ru/get-ynews/6058934/9f55b936e6a233c7181a7ea22b951be2/563x304 />

<h4>"Сегодня на заседании городской думы депутаты приняли решение установить и ввести в действие с 1 января 2025 года на территории муниципального образования "Городской округ город Астрахань" туристический налог", - говорится в сообщении.Интерфакс - Россия</h4>
<h2>
    В 2025 году налоговая ставка составит 1%, в 2026-м – 2%, в 2027-м – 3%, в 2028-м – 4% от налоговой базы.Блокнот Астрахань
    12 июля президент России Владимир Путин подписал закон о введении с 2025 году туристического налога путем преобразования курортного сбора.ТАСС
    В основном в регион приезжают туристы из соседних регионов, Москвы и Московской области, самое популярное направление отдыха - рыбалка.ТАСС
</h2>

@code {

}
