@page "/example"

<h1>Scoped CSS Example</h1>

<style>
    body {
        background-color: lavender;
    }
</style>

<style>
    header {
        background-color: lavender;
    }
</style>