@page "/CONTACTUS"

<PageTitle>наконец...</PageTitle>

<h3>СПАСИБО ЗА ВНИМАНИЕ!</h3>

<h1> СВЯЗАТЬСЯ С НАМИ </h1>

    <h2> 7 999 xxx xx-xx
        nesushestvyushayapoctha2@mail.ru</h2>

@code {

}
