@page "/INFORMATION"

<PageTitle>выключение света/воды</PageTitle>


<h3>период 10 ноября - 14 ноября</h3>
 
<h1> 10 ноября. </h1>

<h4>
    10 ноября в Астрахани отключат холодную воду
 
</h4> 
<img src="https://astrakhan.su/wp-content/uploads/2020/11/mixer-tap-413745_1280-715x500.jpg" />
<h4>
    Отключение вызвано работами по замене запорной арматуры на сетях водопровода по ул. 7‑й переулок.  Завтра, 10 ноября, с 10 – 00 до окончания работ остановят ПНС – 3‑й подъём. Холодное водоснабжение прекратят от Царевского моста до посёлка Советский включительно. Время возобновления водоснабжения не сообщается. Жителям рекомендуется подумать о запасах воды заблаговременно.
   
</h4>

<h4>Кто останется без света 10 ноября?</h4>
<h3>
    Завтра, 10 ноября, несколько десятков астраханских улиц останутся без света. Отключения связаны с плановыми ремонтными работами. Адреса смотрите в таблице. 
</h3>

<img src="https://kaspyinfo.ru/ckfinder/userfiles/files/svet_noyabr_10.png" />

<h1> 11 ноября. </h1>
<h3>В понедельник ограничения затронут Астрахань, а также Ахтубинский, Наримановский и Приволжский районы. Подачу электричества приостановят в промежутке между 05:00 и 18:00.</h3>



<h1>12 ноября</h1>
<h3>ВНИМАНИЕ!!! ЖКХ с 09:50 внеплановое отключение холодной воды с. Зубовка.Причина: порыв с. Зубовка, пос. Молодежный. Работы до устранения неполадок.</h3>
<h3>астраханцев ждут очередные отключения электроэнергии. На этот раз они коснутся жителей областного центра, а также Володарского, Ахтубинского, Харабалинского, Приволжского и Камызякского районов области. Все подробности в галерее ниже:</h3>
<h1>13 ноября</h1>
<h3>Отключение холодного водоснабжения
В связи  с аварийной ситуацией на ПНС Грановского, 63  13.11.24 с 09.40ч будет  прекращена(ограничена) подача  холодного   водоснабжения по следующим адресам: микрорайон Западный-2.
По письму УК ООО «Новый город-8» для замены запорной арматуры  по адресу: ул. Ахшарумова, 27 В  13.11.2024г. с 10: 45 час. до окончания работ отключено холодное водоснабжение по  адресам: ул. Бакинская , дома с 53- 119 ; ул. Ахшарумова, дома с 54 – 88 ;ул. Бэра ;ул. М. Джалиля ; ул. Плещеева, 37 ;ул. Боевая, 25 , 53 ; ДС «Дружба» ;СОШ №11 ;ТЦ « Алимпик » ;ул. Н.Островского, 51, 53, 55.</h3>
<h3>
    Самое позднее время завершение работ на электросетях — 20:00
    В среду отключения света затронут Астрахань и населённые пункты Ахтубинского, Икрянинского, Камызякского, Приволжского и Харабалинского районов.

    Помимо жилых домов, электроэнергии не будет в аптеке, больнице, детских садах, магазинах, кафе, кондитерском цехе и типографии.
</h3>


<h1>14 ноября</h1>

<h3>
    Самое позднее время завершения работ на электросетях — 18:00
    В четверг отключения света затронут Астрахань и населённые пункты Черноярского и Камызякского районов.

    Помимо жилых домов, электроэнергии не будет в магазине, студенческом лагере, общежитии колледжа и торговом центре.
</h3>



@code {

}
