@page "/GKHLOL"

<PageTitle>ЖКХ</PageTitle>


<h1>ЖКХ стоимость </h1>

<h2>Если вдруг Вы столкнулись с проблемой подсчета ЖКХ, то именно этот раздел поможет вам! Как легко и быстро посчитать ваши услуги.</h2>
<h3>мусор : (обращение к ТКО). В сентябре 2024 г - 125,47 руб. (с человека).
</h3>

<h3>электроэнергия : (текущее). Цена за 1 кв.час - 6,46 руб.</h3> 

<h3>газ : 7,09999 руб за 1м³</h3>

<h3>вода : 31,94 руб за 1м³</h3>

@code {

}
