@page "/"

<PageTitle> Домашняя страница </PageTitle>

<h1>Добро пожаловать!</h1>


<h3>
    Для решения бытовых задач жителю необязательно идти в офис управляющей компании. Взаимодействовать с УК удобнее и быстрее  на нашем шедевро сайте. Если у Вас возникли какие-то вопросы, то вы можете связаться с нами в разделе "контакты ".</h3>
    <h4>Наш сайт поможет Вам в решении бытовых вопросов, а так же мы стараемся улучшить ваше настроение</h4>

