@page "/Papa"

<PageTitle>Самое шокирующее</PageTitle>

<h3>Контакты нашего босса разраба</h3>
<img src="https://avatars.mds.yandex.net/i?id=299b9f64ede7390873cbd13c8cb15d4f5590f319-5858959-images-thumbs&n=13">
<h1>7 944 XXX XX-XX</h1>
<h1>nesushestvuyshayapochta@mail.ru</h1>


@code { 

}
