@page "/sovetdnya"

<PageTitle>Совет Дня</PageTitle>


<h1>СОВЕТ ДНЯ</h1>

<img src=https://fit4brain.com/wp-content/uploads/2020/07/advice-12.jpg />

<h5>Иллюстрация: Виктор Чижиков</h5>

<img src="https://fit4brain.com/wp-content/uploads/2020/07/prazdnik.jpg" />

<h5> Иллюстрация: Владимир Румянцев</h5>

<img src="https://fit4brain.com/wp-content/uploads/2020/07/advice-05.jpg"

<h2> хорошего настроения </h2>

@code {

}
